/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center
}

/* Container */
.container-fluid {
    padding: 7% 15%;
} 

/* Colored Section */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: white;
}
/* HEADING */
.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* NAVBAR */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* TITLE IMGAGE */
#title .container-fluid{
    text-align: left;
    padding: 3% 15% 7%;
}
.title-image {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}


/* FEATURE */
#features {
  
    position: relative;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-card h3 {
    font-size: 1.5rem;
    color: #67738c;
}

.features-card p {
    color: #8f8f8f;
}

.features-card {
    padding: 5%;
    border-radius: 5px;
}

.features-card:hover {
    background-color: #fcfcfc;
}

.features-card:hover h3 {
    color: #353b48;
}

.features-card:hover .features-icon {
    color: #ff4c68;
}

.features-card:hover p {
    color: #333;
}

/* Testimonials */
#testimonials {
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    padding: 20px;
    border-radius: 100%;
    width: 10%;
}

/* PRESS */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    height: 35px;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
    padding: 100px;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column {
    padding: 3% 2%;

}

/* Footer */
.social-media {
    margin-bottom: .8rem;
}

.social-media a {
    color: #444;
}

.social-media a:hover {
    color: #ff4c68;
}

.social-media i {
    padding: 20px 10px;
}

#footer p {
    color: #999;
}

@media only screen and (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}